
<div class="banner-container">
    <h1>how it works</h1>
    <div class="item">Choose Your Games</div>
    <div class="item">Copy The Items</div>
    <div class="item">Contact Us Via Whatsapp for details</div>
</div>

<style>
 
    .banner-container {
        background-color: black;
        padding: 2rem 0rem;
        padding-top: 4rem;
        display: flex;
        align-items: center;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        justify-content: center;
        color: white;
        position: relative;
        flex-wrap: wrap;
    }

    .banner-container h1 {
        position: absolute;
        top: 0.5rem;
    }

    .item {
        border: rgb(255, 255, 255) 2px solid;
        border-radius: 5px;
        min-width: 7rem;
        min-height: 7rem;
        width: 7rem;
        height: 7rem;
        margin: 2rem 8rem;
        display: flex;
        align-items: center;
        line-height: 1.25rem;
        text-align: center;
        justify-content: center;
        box-shadow: 2px 2px white;
        font-size: 13px;
        position: relative;
    }  


</style>