<script>
    import GameCard from "./gameCard.svelte";
    import games from '../data/games.json'
</script>

<div class="game-card-container">
    {#each games.data as card}
        <GameCard title={card.title} description={card.description} img={card.img} />
    {/each}
</div>


<style>


    .game-card-container {
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 2rem 1rem;
    }
</style>