<script>
    import image1 from '../assets/image1.jpg'
    export let img
    export let description
    export let title
</script>

<svelte:head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</svelte:head>
<div class="card-container">
    <div class="card">
        <img src={img} alt="">
    </div>
    <div class="card-right">
        <div class="card-text">
            {description} 
        </div>
        <button class="card-button"> <p> add to cart </p></button>
    </div>
</div>

<style>

    .card-button {
        border: 1px solid black;
        background-color: transparent;
        font-size: 18px;
        transition: 0.25s ease-in-out;
        position: relative;
        cursor: pointer;
        padding: 0.3rem 0rem;
        width: 80%;
        overflow: hidden;
        border-radius: 3px;
    }

    .card-button::after {
        transition: 0.15s ease-in-out;
        content: "";
        display: flex;
        align-items: center;
        color: white;
        justify-content: center;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: black;
        cursor: pointer;
        transform: translateX(-100%);
    }

    .card-button:hover::after {
        cursor: pointer;
        overflow: hidden;
        content: "add to cart";
        display: flex;
        color: white;
        justify-content: center;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: black;
        transform: translateX(0%);
    }

    .card-button:active {
        transform: scale(0.9);
    }

    .card-right {
        display: flex;
        flex-direction: column;
        width: 50%;
        align-items: center;
    }

    .card-container {
        display: flex;
        width: 35rem;
        min-width: 35rem;
        justify-content: space-around;
        margin: 2rem 2rem;
        padding: 1rem;
        border: 1px solid black;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.35);
        border-radius: 3px;
    }

    .card {
        transition: 0.5s;
        position: relative;
        height: 20rem;
        width: 15rem;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .card-text {
        
        width: 100%;
        max-height: 80%;
        margin-bottom: 2rem;
        overflow-y: scroll;
        text-align: justify;
    }


</style>