<script>
    import manwithlaptop from '../assets/man-with-laptop.png'
    import arrow from '../assets/icons8-arrow-down-100.png'
</script>

<div class="hero-container">
    <div class="container-left">
    <h1 class="left-text">All The Games <span> You </span> Need In One Place</h1>
    <h1 class="left-text">make a wise decision Choose lebgames</h1>
    <a href="#games"><img src={arrow} alt=""></a>
    </div>
    <div class="container-right">
            <div class="right-text">
                <h1>Tired of long download time?</h1>
                <h1><span> we </span>got  your back</h1>
            </div>
        <img src={manwithlaptop} alt="">
    </div>
</div>



<style>
    .hero-container {
        height: 100vh;
        width: 100vw;
        display: flex;
    }


    .hero-container a {
        align-self: center;
        position: absolute;
        bottom: -1rem;
    }

    .container-left {
        background: rgb(255, 255, 255);
        height: 100vh;
        width: 60vw;
        color: white;
        display: flex;
        flex-direction: column;
    }

    .container-left img {
        cursor: pointer;
        height: 50px;
        width: 50px;
        margin: 5rem 2rem;
    }

    .container-right {
        background: #FFC700;
        height: 100vh;
        width: 40vw;
        color: rgb(0, 0, 0);
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .container-right img {
        position: absolute;
        bottom: 0;
        height: auto;
        left: -55%;
        height: 375px;
    }
    .right-text h1 {
        font-size: 40px;
        text-align: center;
        margin: 3.5rem 0rem;
    }

    .right-text span {
        background-color: black;
        color: white;
        border-radius: 5px;
        padding: 0rem 0.2rem;
        display: inline-flex;
        margin-right: 3px;
    }

    .right-text:nth-child(1) {
        margin-top: 4rem;
    }



    .left-text{
        position: relative;
        text-align: start;
        color: black;
        font-size: 60px;
        transform: translateY(2rem);
        margin: 4.35rem 2rem; 
    }

    .left-text:nth-child(2) {
        position: relative;
        text-align: start;
        color: black;
        font-size: 40px;
        margin: 2rem 2rem; 
        width: 50%;
    }

    .left-text span {
        background-color: black;
        color: white;
        border-radius: 5px;
        padding: 0rem 0.2rem;
    }

    @media only screen and (max-width: 800px) {

    .container-left {
        width: 100vw;
        align-items:center;
        background-image: url('../assets/waves.svg');
        background-repeat: no-repeat;
        background-position: center ;
    }     

    .hero-container a {
        align-self: center;
        justify-content: end;
        margin-bottom: 0rem;
    }



    .container-right {
        width: 0vw;
        display: none;
    }

    .left-text{
        text-align: center;
    }

    .left-text:nth-child(2) {
        text-align: center;
        margin: 2rem 0rem;
        width: 90%;
    }
}
@media only screen and (max-width: 500px) {
    .left-text {
        margin-top: 1rem;
    }

    .container-left img {
        cursor: pointer;
        height: 50px;
        width: 50px;
        margin: 1rem 2rem;
    }


}


@media only screen and (max-width: 500px) {
    .left-text {
        font-size: 50px;
        margin-top: 3rem;
    }

    .left-text:nth-child(2) {
        font-size: 35px;
        margin-top: 1rem;
    }


}
</style>