<script>
    import Games from "../lib/games.svelte";
    import Hero from "../lib/hero.svelte";
    import arrow from '../assets/icons8-arrow-96.png'
    import Banner from "../lib/banner.svelte";
    import { onMount } from "svelte";
    let clickme
    let toggleSideNav = false
    let isClicked = false
    const toggleNav = () => {
        if (toggleSideNav == false) {
            toggleSideNav = true
            isClicked = true
        }
        else {
            toggleSideNav = false
        }
    }

</script>

<svelte:head>
  <link
    href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap"
    rel="stylesheet"
  />
  <!-- <link rel="stylesheet" href="..src/styles/App.css"> -->
</svelte:head>



<h1 class="top-logo">Lebgames</h1>
<div class="nav-container">
    <div class={toggleSideNav ? "nav" : "nav-hidden"}>
        <div class="arrow-container">
        <img src={arrow} alt="" on:click={toggleNav} >
        {#if !isClicked}
        <p on:click={toggleNav}>click me!</p>
        {/if}
    </div>
        <a href="#hero" on:click={toggleNav}>Home</a>
        <a href="#games" on:click={toggleNav}>Games</a>
        <a href="#" on:click={toggleNav}>Offers</a>
        <a href="#" on:click={toggleNav}>Delivery</a>
        <a href="#" on:click={toggleNav}>USBs</a>
        <a href="#" on:click={toggleNav}>HDDs</a>
    </div>
</div>

<div class="hero-container" id="hero">
<Hero />
</div>

<div>
    <Banner/>
</div>

<div class="games-container" id="games">
<Games />
</div>


<style>

    .nav-container {
        transition: 0.5s ease-in-out;
        position: fixed;
        top: 0;
        width: 100vw;
        background: transparent;
        height: 4rem;
        display: flex;
        align-items: center;
        display: flex;
        justify-content: space-between;
        z-index: 100;
    }

    

    .top-logo {
        position: absolute;
        top: 0;
        left: 0;
        color: rgb(0, 0, 0);
        font-weight: 600;
        padding: 1rem 1rem;
        transform: translateY(-0.5rem);
    }


    .nav {
        z-index: 100;
        transition: 0.5s ease-in-out;
        text-align: center;
        position: fixed;
        right: 0rem;
        top: 50%;
        display: flex;
        flex-direction: column;
        transform: translateY(-50%);
        background-color: rgb(255, 254, 254);
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border: 2px solid black;
    }

    .nav img {
        cursor: pointer;
        position: absolute;
        height: 25px;
        top: calc(50% - 12.5px);
        left: -2.5rem;
        transform: rotate(270deg) translateY(50%);
    }

    .nav p {
        display: none;
    }
   

    .nav-hidden {
        transition: 0.5s ease-in-out;
        text-align: center;
        position: fixed;
        right: -6rem;
        top: 50%;
        display: flex;
        flex-direction: column;
        transform: translateY(-50%);
        background-color: rgb(255, 254, 254);
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border: 2px solid black;
    }

    .nav-hidden img {
        cursor: pointer;
        position: absolute;
        height: 25px;
        top: calc(50% - 12.5px);
        left: -1rem;
        transform: rotate(90deg) translateY(50%);
    }

    .nav-hidden p {
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: -100%;
        margin-top: -1px;
        font-weight: 700;
        transform: translateY(-50%);
    }

    .nav a , .nav-hidden a {
        transition: 0.15s ease-in-out;
        margin: 0.9rem 0.5rem;
        padding: 0.5rem 0.5rem;
        border-radius: 3px;
        font-size: 15px;
        color: rgb(0, 0, 0);
        position: relative;
        text-decoration: none;
        

    }

    @media only screen and (max-width: 1000px) {

        .nav a:hover {
            transform: scale(1.03);
        }

    .nav a:hover::after , .nav-hidden a:hover::after {
        transform: rotate(90deg) translate(0px);
    }

    }

    .nav a::after , .nav-hidden a::after{
        position: absolute;
        bottom: -25px;
        left: 50%;
        transform: translateX(50%);
        content: "";
        height: 20px;
        width: 2px;
        border-radius: 50px;
        background-color: rgb(0, 0, 0);
        transition: 0.15s ease-in-out;
    }

    

    .nav a:last-child::after, .nav-hidden a:last-child::after {
        height: 0;
    }

</style>