@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');




:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  font-family: "Quicksand";
  scroll-behavior: smooth;
  margin: 0;
}

body {
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 7px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-track {
  background-color: #fdfdfd; /* Set the background color of the track */
}

/* Customize the thumb (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background-color: #696969; /* Set the color of the thumb */
}


